
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
#navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
#navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;

}
#navbar button{
    background-color: brown;
    color: antiquewhite;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}
