*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    height:90px ;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
     /* position: absolute;  */
}
#navbar nav ul{
    display: flex;
    gap: 20px;
    list-style: none;

}
#navbar nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    padding-bottom: 30px;
    
}
 /* #navbar nav ul li a:hover{
    color: #fa7e65;
    border-bottom: 1px solid red;
}  */
   

#navbar nav ul li a:hover{
    color:#fa7e65 ;
    font-size: 30px;
    /* border-bottom: 2px solid black; */
}
#navbar button{
    background-color: #fa7e65;
    border-radius: 20px;
    padding: 15px 30px;
    color: white;
    border: none;

}
/* main code start here */
#firstpage{
    width: 100%;
    height: 100vh;
    /* background-color: bisque;  */
   /* background-image: url(../images/iron\ man\ image.jpg);
   background-repeat:no-repeat ;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center; */
   display: flex;
}
 #firstpage .box1{
    width: 50%;
    height: 100%;
    background-color:cadetblue ;
 }
 #firstpage .box2{
    width: 50%;
    height: 100%;
    background-color:rgb(191, 79, 191) ;
 }

