#box
{
    width: 100%;
    height: 600px;
    border: 2px solid red;
    display: flex;
    /* without flex justify-content: center; not activate */

    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    justify-content: center;
   align-items: center;
   gap: 10px;
     
}
.box1{
    width: 200px;
    height: 200px;
      border: 2px solid black;
      flex-direction: column;
}



